<!Doctype html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">
    <title> Spring MVC Application - Login</title>
</head>

<header th:replace="layout :: logged-out"></header>

<h2> Registration :</h2> <br>
<form th:object="${User}" method="post">
    <label for="username">Username :</label><input type="text" id="username"/> <br>
    <label for="password">Password : </label><input type="password" id="password"/>
    <label for="fullname">Fullname : </label><input type="password" id="fullname"/>
    <input type="submit" value="Login"/>
</form>

</html>